@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
}

#__next,#root,main {
  height: 100%
}

[data-theme="light"] .skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

[data-theme="dark"] .skeleton {
  animation: skeleton-loading-dark 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 10%, 75%);
  }

  100% {
    background-color: hsl(200, 10%, 90%);
  }
}

@keyframes skeleton-loading-dark {
  0% {
    background-color: hsl(200, 10%, 35%);
  }

  100% {
    background-color: hsl(200, 10%, 90%);
  }
}

.fade-in {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* DaisyUI overwrites */
.drawer-end .drawer-toggle ~ .drawer-side > *:not(.drawer-overlay) {
  transform: translateY(100%);
}

.drawer-side > *:not(.drawer-overlay) {
  transition-duration: 400ms;
}

.active {
  animation-name: flash_border;
  animation-duration: 500ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  -webkit-animation-name: flash_border;
  -webkit-animation-duration: 500ms;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  -moz-animation-name: flash_border;
  -moz-animation-duration: 500ms;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: 1;
}

@keyframes flash_border {
  0% {
    border-color: #f73c4c00;
  }
  100% {
    border-color: #f73c4d;
  }
}

@-webkit-keyframes flash_border {
  0% {
    border-color: #f73c4c00;
  }
  100% {
    border-color: #f73c4d;
  }
}

@-moz-keyframes flash_border {
  0% {
    border-color: #f73c4c00;
  }
  100% {
    border-color: #f73c4d;
  }
}